.cartss {
    display: grid;
    margin-left: 25px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 50px;
}


@media only screen and (max-width: 600px) {
   
    .cartss {
        grid-template-columns: 1fr;
        
    }
}